
<div class="rw-partners">
  <div class="partners-hero is-partners-wri">
    <div class="row">
      <div class="col -xs-12">
        <p class="partners-hero-subtitle">Resource Watch Partner</p>
        <h2 class="partners-hero-logo"><img src="https://vizzuality.github.io/WRW-Prototype/img/partner-wri-logo.png"></h2>
        <div class="partners-hero-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
        </div>
      </div>
    </div>
  </div>
</div>
