<link rel="stylesheet" href="http://vizzuality.github.io/WRW-Prototype/styles/main.css">

<style>
  body {display: block;}
  .container:after, .container:before {
    display: table;
    content: '';
  }
  .container:after {
    clear:  both;
  }
</style>

<div class="partners--hero">
  <div class="container">
    <p class="partners--subtitle">Resource Watch Partner</p>
    <h2><img src="http://vizzuality.github.io/WRW-Prototype/img/partner-wri-logo.png"></h2>
    <p class="partners--intro-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
    <p class="partners--intro-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
  </div>
</div>
