.rw-l-footer {
  color: $text-color-4;
  font-size: $small-font-size;

  a {
    color: $text-color-4;
  }
}

.rw-l-top-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  border-top: 1px solid $border-color-1;

  @media screen and (min-width: $small-screen) {
    padding-bottom: 4rem;
  }

  .rw-footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;

    > li._brand {
      width: 100%;
    }

    > li {
      margin-top: 1rem;
      margin-bottom: 1rem;

      > a {
        color: $text-color-1;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }

    @media screen and (max-width: $small-screen) {
      > li {
        width: 50%;
      }
    }

    @media screen and (min-width: $small-screen) {
      justify-content: space-between;
    }

    @media screen and (min-width: $medium-screen) {
      > li._brand {
        width: auto;
      }
    }
  }
}

.rw-l-bottom-footer {
  padding: .5rem 0;
  background-color: $bg-color-3;

  .rw-bottom-nav {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    > li {
      display: inline-block;
    }

    @media screen and (min-width: $small-screen) {
      text-align: left;
    }
  }

  .rw-copy {
    margin: 0;
    text-align: center;

    @media screen and (min-width: $small-screen) {
      text-align: right;
    }
  }
}
