.l-main, .rw-l-main {
  position: relative;
  flex: 1;

  @media screen and (min-width: $large-screen) {
    min-height: 600px;
  }

  &.-dark {
    color: $text-color-3;
    background-color: $bg-color-9;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem 0;

    @media screen and (min-width: $small-screen) {
      padding: 2rem;
      flex-direction: row;
    }

    h1 {
      margin: 0;
    }
  }

  .main-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $small-screen) {
      flex-direction: row;
    }
  }
}
