.l-main, .rw-l-main {
  position: relative;
  flex: 1;
  min-height: 600px;

  &.-dark {
    color: $text-color-3;
    background-color: $bg-color-9;
  }

  .main-content {
    width: 100%;
    position: relative;
    display: flex;
  }
}

.rw-l-section {
  margin: 2rem 0;
}
