$section-header-color: $text-color-7;
$section-header-link-color: $text-color-2;

.rw-l-section {
  margin: rem(60) 0 2rem;
  > .header {
    display: flex;
    justify-content: space-between;;
    align-items: center;

    &.-col {
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;

      p {
        margin-top: 0;
        color: #9aa2a9;
        font-style: italic;
      }
    }

    > .title {
      display: inline-block;

      margin: 0 0 1rem 0;

      font-size: $large-font-size;
      color: $section-header-color;
    }
  }

  .action {
    width: 100%;
    margin-top: rem(32);

    a {
      color: #b9bfc4;
    }

    &:hover {
      a { color: $white; }
    }
  }
}
