<% if controller == "explore" %>
  <div class="row -expanded">
    <div class="col -xs-12 -sm-7">
      <%= breadcrumbs %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <%= breadcrumbs %>
    </div>
  </div>
<% end %>
