<div id="rw-contact" class="rw-banner">
  <a href="" class="image modal-signup">
    <%= image_tag 'http://vizzuality.github.io/WRW-Prototype/img/banner-3.jpg', class:"banner-image" %>
  </a>
  <h3 class="header">See yourself as part of this team?</h3>
  <a href="mailto:resourcewatch@wri.org" class="button -large modal-signup">GET IN TOUCH</a>
</div>
