<div id="rw-contact" class="rw-banner">
  <a href="" class="modal-signup">
    <%= image_tag 'https://vizzuality.github.io/WRW-Prototype/img/banner-3.jpg', class:"image" %>
  </a>
  <h3 class="header"><%= t('contact.header') %></h3>
  <a href="mailto:resourcewatch@wri.org" class="button -large modal-signup"><%= t('contact.link') %></a>
</div>
