<section>
  <div class="rw-country-dashboard-selector js-country-dashboard-selector">
      <header>
        <h2>Dashboard</h2>
        <p>Analyze country data easily</p>
      </header>
      <div class="country-selector">
        <select>
          <option value="" disabled="true" selected="true">Choose country</option>
        </select>
        <button type="submit">Let's go!</button>
      </div>
  </div>
</section>
