<section class="rw-hero" style="background-image: url(<%= image_path 'banners/interactive-map.jpg' %>)">
  <div class="row">
    <div class="col -xs-12 rw-hero-content">
      <div class="title">
        <span class="sub-title">Featured insight</span>
        <%= link_to 'Farms to feel squeeze as competition for water increases', page_path('insights/interactive-edi') %>
      </div>
      <div class="info">
        <div class="source">
          <%= image_tag 'partners/wwf-logo.png' %>
          <span>by &nbsp;
            <%= link_to 'World Resources Institute', page_path('partners/wri')%>
          </span>
        </div>
        <div class="stars active">
          <svg class="icon icon-star">
            <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
          </svg>
          <span>6,574</span>
        </div>
      </div>
    </div>
  </div>
</section>
