<section class="rw-l-section">
  <div class="rw-banner">
    <%= link_to planet_pulse_path do %>
      <%= image_tag "planet_pulse/planet-pulse.jpg", class: 'image' %>
    <% end %>

    <div class="row">
      <div class="col -xs-6">
        <h3 class="header">Real time monitoring data</h3>
        <h4 class="tab">Planet Pulse</h4>
        <p class="desc">Fores ecosystems also play a critical role in stabilizing the climate; prividing food, water, wood products and medicines; and supporting much of the world’s biodiversity.</p>
        <div class="btn"><%= link_to t('planet_pulse.launch'), planet_pulse_path, class: 'button -large' %></div>
      </div>
    </div>
  </div>
</section>
