<div class="row">
  <div class="col -xs-12">
    <h1><%= t('titles.terms') %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae accusamus illum, modi molestias sunt ratione quam assumenda inventore iste similique consequuntur asperiores aliquam aperiam sapiente fugit, cumque a non!</p>
  </div>
</div>
