.rw-banner {
  position: relative;
  overflow: hidden;
  height: rem(550);
  opacity: 1;
  filter: grayscale(0%);
  transition: filter 0.3s, opacity 0.3s;
  text-align: center;

  @media only screen and (max-width:$medium-screen) {
    @include nogutter()
  }

  &.-bg {
    background-size: cover;
    background-position: center;
  }

  .row {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .image {
    width: 100%;
    float: left;
    height: 100%;

    transition: transform 1s ease;
    transform: scale(1.1);
    &:hover {
      transform: scale(1.05);
      transition: transform 2s ease;
    }

    @media only screen and (max-width:$medium-screen) {
      height: 100%;
      width: auto;
      max-width: inherit;
    }
  }

  .header {
    color: $text-color-3;

    font-size: $large-font-size;
    line-height: 1.2;
    text-shadow: 0px 2px 4px rgba($bg-color-9,0.50);
    text-align: left;
    font-weight: lighter;

    width: 100%;
    margin-top: rem(100);
    margin-bottom: rem(28);
    // max-width: rem(400px);

    @media only screen and (min-width:$medium-screen) {
      font-size: $mlarge-font-size;
    }
  }

  .header,
  a.button.button {
    // position: absolute;
    // left: rem(90);
    // right: 0;
  }

  a.button {
    // top: 175px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: rem(160);
    letter-spacing: 1.5px;
    font-weight: normal;
  }

  .btn {
    text-align: left;
  }

  .tab {
    text-align: left;
    color: $text-color-3;
    font-size: $medium-font-size;
    margin-top: rem(25);
    margin-bottom: rem(45);
  }

  .desc {
    text-align: left;
    color: $text-color-3;
    margin-bottom: rem(52);
  }
}
