.card-detail {
  width: 100%;
  padding: rem(15);

  .chart {
    width: 100%;
    height: rem(350px);
    // background: $bg-color-2;
    border-top: 1px solid $bg-color-6;
    border-bottom: 1px solid $bg-color-6;
  }

  .actions {
    margin: rem(15px) 0;

    .action {
      margin-bottom: rem(15px);
    }
  }
}
