.card-chart {
  margin-bottom: 2rem;
  border-radius: 4px;
	background-color: $bg-color-4;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
	border: solid 1px rgba($border-color-1, 0.85);
  padding: 20px;

  h4 {
    color: $text-color-4;
    text-transform: uppercase;
    font-size: $ultra-small-font-size;
    line-height: 2;
    margin: 0;
  }

  h3 {
    color: $text-color-7;
    font-size: $medium-font-size;
    font-weight: 300;
    margin: 0;
  }


  &.-red {
    background: linear-gradient(48deg, #c4256c, #c4256b, #c90e39);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    h3, h4 { color: $text-color-3; }
  }

  &.-blue {
    background: linear-gradient(48deg, #3bb2d0, #3dc3e5);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    h3, h4 { color: $text-color-3; }
  }

  // h3,
  // p {
  //   margin: 0;
  // }
  //
  // h3,
  // h3 > a {
  //   color: $text-color-2;
  // }
  //
  // p {
  //   font-size: $small-font-size;
  //   font-weight: 400;
  //   color: $text-color-5;
  //   margin-top: rem(6px);
  //   margin-bottom: rem(8px);
  //   line-height: $normal-font-size;
  // }
  //
  // .chart {
  //   height: 190px;
  //   background-color: $bg-color-3;
  // }
  //
  // .detail {
  //   padding: 1rem;
  //
  //   > .actions {
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //
  //     > .action {
  //       margin-right: rem(10px);
  //
  //       &.favorite {
  //         font-size: $small-font-size;
  //         font-weight: 400;
  //       }
  //     }
  //   }
  // }
  //
  // > .actions {
  //   padding: rem(4);
  //
  //   > .action {
  //     width: 100%;
  //     height: auto;
  //     padding: rem(8px);
  //   }
  // }
  //
  // &.list {
  //   width: 100%;
  //   display: inline-block;
  //   box-shadow: none;
  //   border-right-width: 0;
  //   border-left-width: 0;
  //   border-bottom-width: 0;
  //   margin-bottom: 0;
  //
  //   .chart {
  //     display: none;
  //   }
  //
  //   .detail {
  //     width: 50%;
  //     display: inline-block;
  //     float: left;
  //
  //     > .actions {
  //       > .action {
  //         margin-left: 0;
  //       }
  //     }
  //   }
  //
  //   > .actions {
  //     width: 50%;
  //     display: inline-block;
  //     float: right;
  //
  //     > .action {
  //       max-width: rem(220px);
  //       float: right;
  //       margin-top: rem(15px);
  //     }
  //   }
  // }
}
