.explore {
  @media screen and (min-width: $medium-screen) {
    overflow-y: scroll;
    height: calc(100vh - #{$header-height});
    padding-bottom: 5rem;
  }
}

.explore-map {
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
    margin-top: rem(-61px);
  }
}
