.rw-hero {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 2rem 1rem;

  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a, span {
    color: $text-color-3;
  }

  @media screen and (min-width: $medium-screen) {
    padding: 0;
    padding: 2rem;
    background-size: cover;
    background-position: 30% 0;
  }

  .rw-hero-content {
    > .title {
      margin-bottom: 40px;

      a {
        display: block;
        width: 100%;
        max-width: 550px;
        font-size: $mlarge-font-size;
        font-weight: 300;
        text-decoration: none;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      > .sub-title {
        font-size: $small-font-size;
        text-transform: uppercase;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    > .info {
      height: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-color-3;
      img {
        width: 38px;
        height: 38px;
        margin-right: 10px;
      }
      > .source {
        display: flex;
        align-items: center;
        flex-basis: 70%;
        a {
          text-decoration: underline;
        }
      }
      > .stars {
        display: flex;
        align-items: center;

        .icon-star {
          fill: $text-color-3;
          display: inline-block;
          margin-right: 5px;
          width: 20px;
          height: 20px;
          vertical-align: bottom;
          transition: fill .2s;
        }

        &.active {
          .icon-star {
            fill: $text-color-9;
          }

          span {
            color: $text-color-9;
          }
        }
      }
    }
  }
}
