.rw-hero {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 2rem 1rem;

  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a, span {
    color: $text-color-3;
  }

  @media screen and (min-width: $medium-screen) {
    padding: 0;
    padding: 2rem;
    background-size: cover;
    background-position: 30% 0;
  }


  .ticker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(80);
    padding: 0 rem(35) rem(20);
    background-color: rgba(0, 0, 0, .3);

    .provisional-updates {
      width: 100%;
      height: rem(70);
      background-image: asset_url('ticker.png');
      background-position: left top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .rw-hero-content {
    > .title {
      margin-bottom: rem(150);

      a {
        display: block;
        width: 100%;
        // max-width: 550px;
        font-size: $mlarge-font-size;
        font-weight: 300;
        text-decoration: none;
        -webkit-font-smoothing: subpixel-antialiased;
        opacity: .8;
      }

      > .sub-title {
        font-size: $small-font-size;
        text-transform: uppercase;
        font-weight: 300;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      .desc {
        color: $white;
        font-size: rem(21);
        opacity: .8
      }

      &.-center{
        display: flex;
        text-align: center;
        align-items: center;
        flex-flow: column;
      }
    }


    > .info {
      height: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-color-3;
      img {
        width: 38px;
        height: 38px;
        margin-right: 10px;
      }
      > .source {
        display: flex;
        align-items: center;
        flex-basis: 70%;
        a {
          text-decoration: underline;
        }
      }
      > .stars {
        display: flex;
        align-items: center;

        .icon-star {
          fill: $text-color-3;
          display: inline-block;
          margin-right: 5px;
          width: 20px;
          height: 20px;
          vertical-align: bottom;
          transition: fill .2s;
        }

        &.active {
          .icon-star {
            fill: $text-color-9;
          }

          span {
            color: $text-color-9;
          }
        }
      }
    }

  }

  > .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: rem(1) solid rgba(255, 255, 255, .3);
    padding: rem(32);

    & * {color: $white;}

    p {
      margin: 0;
      margin-right: rem(22);
    }

    a {
      position: relative;
      color: $dark-pink;
      margin-top: rem(4);

      &:after {
        content: '';
        width: rem(10);
        height: rem(10);
        position: absolute;
        top: rem(3);
        right: rem(-19);
        transform: rotate(45deg);
        border-right: rem(2) solid $dark-pink;
        border-top: rem(2) solid $dark-pink;
      }
    }

    .icon {
      width: rem(22);
      height: rem(22);
      margin-right: rem(15);

      &.-first { fill: $dark-pink; }
    }
  }
}
