#mc_embed_signup {

   h2 {
    font-size: $mlarge-font-size;
    font-weight: 300;
    text-align: center;
    color: $text-color-7;
  }

  @media only screen and (min-width: 1280px) {
    #mc_embed_signup h2 {
      font-size: $xlarge-font-size;
      margin-bottom: rem(35px);
    }
  }

  #mce-responses {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .response {
      padding: 0;
      width: rem(500px);
      margin: 1rem auto;
      size: $normal-font-size;
      font-weight: 400;
    }
  }

  form {
    padding: 0;
  }

  .mc-field-group {
    width: rem(420px);
    margin: rem(5px) auto;
    color: $text-color-4;

    @media only screen and (min-width: 1280px) {
      max-width: rem(500px);
    }

    .mc-label-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      font-size: $ultra-small-font-size;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;

      // margin-top: 20px;
      margin-bottom: 2px;

      .indicates-required {
        color: $text-color-7;
        margin: 0;
      }
    }

    input {
      width: inherit;
      line-height: 30px;
      padding-left: rem(10px);

      border-radius: 5px;
      border: 1px solid $bg-color-5;

      text-transform: none;
      font-size: $small-font-size;
      color: $text-color-4;

      &:focus {
        color: $text-color-4;
      }

      @media only screen and (min-width: 1280px) {
        font-size: $medium-font-size;
        line-height: 32px;
      }
    }

    input.mce_inline_error {
      border-color: $text-color-7;
    }

    div.mce_inline_error {
      background-color: $bg-color-4;
      color: $text-color-7;
      border-color: $text-color-7;

      margin: 0;

      font-weight: 700;
      font-size: $ultra-small-font-size;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  #mc-embedded-subscribe {
     &.button {
      display: block;
      padding: 1rem 5rem;
      margin: 1rem auto 3rem;
      &.small {
        padding: 1rem;
      }
    }
  }
}
