.rw-planet-pulse {
  color: $text-color-3;

  > .planet-pulse-header {
    margin-top: 3rem;
    position: relative;

    h1 {
      margin: 2rem 0 1rem 0;
      font-size: $xlarge-font-size;
    }

    > .planet-pulse-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 80%;

      &, ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      a {
        display: block;
        padding-bottom: 5px;

        color: $text-color-4;
        font-size: $medium-font-size;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;

        transition: opacity .15s ease;

        &.is-active {
          border-bottom: 2px solid $bg-color-5;
        }
      }

      &.is-blur a {
        opacity: .7;
      }

      li {
        position: relative;
        margin-right: 30px;
        padding-bottom: 10px;

        & > ul {
          position: absolute;
          display: none;
          width: 250px;
          margin-top: 10px;
          margin-left: -15px;
          border-radius: 5px;
          background-color: $bg-color-5;

          li {
            margin-right: 0;
            padding-bottom: 0;
            border-bottom: 1px solid $bg-color-5;
            overflow: hidden;

            &:first-child {
              border-radius: 5px 5px 0 0;
              a {
                border-radius: 5px 5px 0 0;
              }
            }

            &:last-child {
              border-bottom-width: 0;
              border-radius: 0 0 5px 5px;
              a {
                border-radius: 0 0 5px 5px;
              }
            }
          }

          li a {
            display: block;
            padding: 15px;

            color: $text-color-5;
            font-size: 14px;
            text-transform: none;

            transition: all .15s ease;

            &:hover, &.is-active {
              color: $text-color-2;
              background-color: $bg-color-3;
            }
          }
        }

        &:hover > ul {
          display: block;
        }
      }

      &:hover a {
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      }
    }

    > .planet-pulse-toolbar {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;

      button, a {
        display: block;
        border: 0;
        margin-left: 40px;
        padding: 0;
        height: auto;

        color: $text-color-3;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;

        background: none;
        background-color: transparent;

        opacity: .7;

        transition: opacity .15s ease;

        &:hover {
          opacity: 1;
        }
      }

      #backBtn {
        display: none;
      }
    }
  }

  .planet-pulse-content article {
    display: none;
    max-width: 35%;
    min-width: 400px;

    &.is-active {
      display: block;
    }

    h2 {
      display: none;
      font-size: $xlarge-font-size;

      @media screen and (min-height: 800px) {
        display: block;
      }
    }

    h3 {
      font-size: $large-font-size;
      margin-top: 40px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      font-size: 18px;
      line-height: 28px;

      a {
        position: relative;
        color: $text-color-3;
        text-decoration: none;
        padding-left: 22px;
        display: inline-block;
        padding-right: 30px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 6px;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background-color: rgba($text-color-3, 0.4);
        }

        &:hover:before {
          background-color: rgba($text-color-3, 0.7);
        }

        &:hover:after {
          content: '';
          position: absolute;
          left: 3px;
          top: 9px;
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background-color: rgba($bg-color-1, .4);
        }

        &.is-active:before {
          background-color: rgba($bg-color-4, 0.7);
        }

        &.is-active:after {
          content: '';
          position: absolute;
          left: 3px;
          top: 9px;
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background-color: $bg-color-1;
        }

        .btn-info {
          @include modal-info($bg-color-4, $text-color-1);
          top:7px;
          &:hover{
            background: darken($bg-color-4,5%);
          }
        }
      }
    }
  }
}
