<h1>Water levels in Northen California 1</h1>

<div class="row">
  <div class="col -xs-12 -sm-2">
    <p>WRI</p>
  </div>
  <div class="col -xs-12 -sm-4">
    <p>Last update: February, 18 2016</p>
  </div>
  <div class="col -xs-12 -sm-2">
    <p>Verified</p>
  </div>

  <div class="col -xs-12 -sm-12">
    <div id="cardDetailChart" class="chart"></div>
  </div>

  <div class="col -xs-12 -sm-2">
    <p>Social links</p>
  </div>
  <div class="col -xs-12 -sm-7">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus numquam magnam aliquid, a laboriosam officiis fuga, neque libero architecto ad eum sint assumenda corrupti laborum. Excepturi cupiditate provident dolores harum!</p>
  </div>
  <div class="col -xs-12 -sm-3">
    <div class="actions">
      <button class="action">Add to map</button>
      <button class="action -disabled">Download</button>
    </div>
  </div>
