<div class="chart"></div>
<div class="detail">
  <h3><a href="/explore/{{slug}}">{{name}}</a></h3>
  <p>{{description}}</p>

  <div class="actions">
    <button class="action -plain -wicon">
      <svg class="icon icon-download">
        <use xlink:href="#icon-download"></use>
      </svg>
      <span>Download</span>
    </button>

    <button class="action -plain -pink">Map</button>

    <button class="action -plain -green">CSV</button>

    <button class="action -plain -wicon favorite">
      <svg class="icon icon-star">
        <use xlink:href="#icon-star"></use>
      </svg>
      <span>5,230</span>
    </button>
  </div>
</div>
<div class="actions">
  <button class="action -gray js-toggle-layer">Add to map</button>
</div>
