<div class="chart"></div>
<div class="detail">
  <h3><a href="/explore/{{slug}}">{{name}}</a></h3>
  <p>{{source}}</p>

  <div class="actions">
    <!-- <button class="action -plain -wicon">
      <svg class="icon icon-download">
        <use xlink:href="#icon-download"></use>
      </svg>
      <span>Download</span> -->
    </button>

    <button class="action -plain -pink tooltip-cs">Map</button>

    <button class="action -plain -gree tooltip-cs">CSV</button>

    <button class="action -plain -wicon favorite tooltip-cs">
      <svg class="icon icon-star">
        <use xlink:href="#icon-star"></use>
      </svg>
      <span>0</span>
    </button>
  </div>
</div>
<div class="actions">
  {{#if layer}}
    <button class="action -gray js-toggle-layer">Add to map</button>
  {{else}}
    <button class="action -disabled">Not displayable</button>
  {{/if}}
</div>
