<div class="content">
  <h4 class="heading">Chart type</h4>
  <select class="type">
    {{#each recomms}}
      <option value="">{{this}} Chart</option>
    {{/each}}
  </select>
</div>

<div class="content">
  <div class="action">
    <label class="label">X axis:</label>
    <select class="value">
      <option value="">Line Chart</option>
      <option value="">Bar Chart</option>
    </select>
  </div>
  <div class="action">
    <label class="label">Y axis:</label>
    <select class="value">
      <option value="">Line Chart</option>
      <option value="">Bar Chart</option>
    </select>
  </div>
</div>
