<div class="row">
  {{#each items}}
    <div class="column">
      <span class="color" style="background-color: {{color}}"></span>
    </div>
  {{/each}}
</div>
<div class="range">
  <span>{{options.start}}</span>
  <span>{{options.end}}</span>
</div>
