<header class="header">
  <h1>{{country.name}} Dashboard</h1>
  <ul class="header-menu">
    <li><a href="<%= ResourceWatch::Application.routes.url_helpers.countries_path %>">Change Country</a></li>
  </ul>
</header>
<div class="row js-cards">
  {{#each cards}}
    <div class="col -xs-6 -sm-6 -md-4 -lg-3">
      <div class="card-chart {{class}} js-card">
      </div>
    </div>
  {{/each}}
</div>
