<div class="row -expanded">
  <div class="col -xs-6 -sm-6 -md-6 -lg-6">
    <div class="results">
      {{results}}<%= I18n.t('datasets.datasets') %>
    </div>
  </div>

  <div class="col -xs-6 -sm-6 -md-6 -lg-6 -right">
    <div class="view-mode">
      <div class="action" data-value="grid">
        <svg class="icon icon-grid">
          <use xlink:href="#icon-grid"></use>
        </svg>
      </div>

      <div class="action" data-value="list">
        <svg class="icon icon-list">
          <use xlink:href="#icon-list"></use>
        </svg>
      </div>
    </div>

    <div class="filter">
      <button class="action -disabled tooltip-cs"><%= I18n.t('filter') %></button>
    </div>
  </div>
</div>
