<div class="row">
  <div class="color" style="background-image: linear-gradient(to right, {{options.colorsList}});"></div>
</div>
<div class="range">
  <span>{{options.start}}</span>
  <span>{{options.end}}</span>
</div>

