html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;

  color: $body-font-color;
  font-family: $global-font-family;
  font-size: $normal-font-size;
  line-height: $global-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $body-background;

  &.-fitscreen {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;

  &.-pink {
    color: $text-color-7;
  }
}

h1 {
  font-size: $xlarge-font-size;
  font-weight: 300;
}

h2 {
  font-size: $large-font-size;
  font-weight: 300;
}

h3 {
  font-size: $normal-font-size;
}

p {
  margin: 1rem 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a, a:visited {
  color: $text-color-2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: $tiny-font-size;
    font-weight: 700;
    cursor: pointer;

    i.right-arrow {
      display: inline-block;
      position: relative;
      top: 2px;
      @include arrow ($tiny-font-size, $text-color-2, 2px, 135deg);
    }
  }
}
