.-vcenter {
  display: flex;
  align-items: center;
}

.-center {
  display: flex;
  justify-content: center;
}

.-left {
  display: flex;
  justify-content: flex-start;
}

.-right {
  display: flex;
  justify-content: flex-end;
}

.is-fullscreen {
  height: 100vh;
  width: 100%;
}
