.rw-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
  font-size: 32px; // works because "width" & "height" were set using em units
  color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */
.fill-color1 {
  fill: #b9bfc4;
}
.fill-color2 {
  fill: #fff;
}

.rw-icon-symbol-grey {
  width: rem(67);
  height: rem(69);
}

.rw-icon-logo {
  width: rem(200);
  height: rem(35);
}
