<div class="row">
  <div class="col -xs-12">
    <h1>Discover insights</h1>
  </div>
</div>

<div class="row">
  <div class="col -xs-4">
    <div class="card">
      <div class="card-image">
        <%= link_to page_path('insights/interactive-edi') do %>
          <%= image_tag 'http://vizzuality.github.io/WRW-Prototype/img/insight-38-th.jpg' %>
        <% end %>
      </div>
      <div class="card-content">
        <h3>Interactive</h3>
        <h2><%= link_to 'A factory is being built in your neighborhood. Can you do anything about it?', page_path('insights/interactive-edi') %></h2>
      </div>
      <div class="card-info">
        <p><img src="http://vizzuality.github.io/WRW-Prototype/img/avatar-wri.png"><span>by &nbsp;<a href="#">World Resources Institute</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col -xs-12">
    <section class="rw-l-section">
      <%= render "shared/planet_pulse" %>
    </section>
  </div>
</div>
