<% breadcrumb :insights %>

<div class="row">
  <div class="col -xs-12">
    <h1>Discover insights</h1>
  </div>
</div>


<div class="row">
  <div class="col -xs-12">
    <section class="rw-l-section">
      <%= render "shared/insights" %>
    </section>
  </div>
</div>


<div class="row">
  <div class="col -xs-12">
    <section class="rw-l-section">
      <%= render "shared/planet_pulse" %>
    </section>
  </div>
</div>
