<div class="row -expanded">
  <div class="col -xs-12 -sm-7 explore">
    <div class="row">
      <div class="col -xs-12">
        <div><%= link_to 'Explore', explore_index_path %> > Dataset</div>
      </div>

      <div id="cardDetail"></div>

      <div class="col -xs-12">
        <h3>Similar datasets</h3>
        <div id="exploreDashboard"></div>
        <div id="pagination"></div>
      </div>
    </div>
  </div>
  <div class="col -xs-12 -sm-5">
    <div id="legend"></div>
    <div id="map"></div>
  </div>
</div>
