<% breadcrumb :explore_detail, @exploreSlug %>

<div id="mainContent" class="row -expanded _is-content-loading">
  <div class="main-content">
    <div class="col -xs-12 -sm-7 explore">
      <div class="row">

        <div id="cardDetail"></div>

        <div class="col -xs-12">
          <h2 class="-pink"><%= t('datasets.similar') %></h2>
          <div id="exploreDashboard"></div>
          <div id="pagination"></div>
        </div>
      </div>
    </div>
    <div class="col -xs-12 -sm-5 explore-map">
      <div id="legend"></div>
      <div id="map" class="-dark"></div>
    </div>
  </div>
</div>
